{{!-- Comments --}}
<div class="comments shadow bg-default flex flex-col flex-cc p-lg" id="comments">
  {{!-- Comment/Uncomment below line to activate or deactivate cove comments --}}
  {{> comments-cove }}

  {{!-- Comment/Uncomment below line to activate or deactivate disqus comments --}}
  {{!-- {{> comments-disqus}} --}}
</div>