{{!-- Social Media Links --}}
<div class="social flex">
  {{!-- Facebook --}}
  
  {{!-- Twitter --}}
  <a class="social__item"
     href="https://twitter.com/marcogovoni" target="_blank" title="Twitter"
     aria-label="Twitter" rel="noreferrer">
    {{>icon name="twitter" size="sm"}}
  </a>
  {{!-- Instagram --}}
  
  {{!-- Linkedin --}}
  <a class="social__item"
     href="https://www.linkedin.com/in/govonimarco/" target="_blank" title="Linkedin"
     aria-label="Linkedin" rel="noreferrer">
    {{>icon name="linkedin" size="sm"}}
  </a>
  {{!-- Github --}}
  <a class="social__item"
     href="https://github.com/marcogovoni" target="_blank" title="Github"
     aria-label="Github" rel="noreferrer">
    {{>icon name="github" size="sm"}}
  </a>
  {{!-- RSS --}}
  <a class="social__item"
     href="/rss" target="_blank" title="RSS"
     aria-label="RSS" rel="noreferrer">
    {{>icon name="rss" size="sm"}}
  </a>
</div>
