<div class="color-scheme-picker js-color-scheme-picker">
</div>

<template class="js-color-scheme-template">
  <button class="color-scheme w-100 js-color-scheme" data-color-scheme="">
    <span class="color-scheme__name flex-1 text-left"></span>
    <span class="color-scheme__color bg-primary"></span>
    <span class="color-scheme__color bg-secondary"></span>
    <span class="color-scheme__color bg-default"></span>
    <span class="color-scheme__color bg-text"></span>
  </button>
</template>

{{#contentFor "scripts"}}
  <script>
    if (CONFIG.ENABLE_COLOR_SCHEME_PICKER && 'content' in document.createElement('template')) {
      const themeButton = document.querySelector('.js-theme-toggle');
      themeButton ? themeButton.classList.add('is-visible') : '';

      let colorSchemePicker = document.querySelector('.js-color-scheme-picker');
      let colorSchemeTemplate = document.querySelector('.js-color-scheme-template');

      COLOR_SCHEMES.map(function(theme) { 
        var colorSchemeBtn = colorSchemeTemplate.content.cloneNode(true).querySelector('button');
        colorSchemeBtn.setAttribute('data-color-scheme', theme.id);
        colorSchemeBtn.querySelector('.color-scheme__name').textContent = theme.name;
        colorSchemePicker.appendChild(colorSchemeBtn);
      }).join(' ')
    } 

    const colorSchemeBtns = document.querySelectorAll('.js-color-scheme');
    colorSchemeBtns.forEach(function(colorSchemeBtn) {
      colorSchemeBtn.onclick = function(event) {
        setColorScheme(event.currentTarget.getAttribute('data-color-scheme'));
      }
    })
  </script>
{{/contentFor}}