/* Input */
input,
select,
textarea {
  width: 100%;
  display: block;
  padding: var(--gap);
  margin-bottom: var(--gap);
  border: none;
  box-shadow: 0 0 0 1px var(--color-border);
  border-radius: var(--global-radius);
  outline: none;
  line-height: initial;
  background-color: transparent;
  font-size: var(--font-size-base);
  font-family: var(--font-sans);
  color: inherit;

  @mixin attention {
    box-shadow: 0 0 0 1px var(--color-primary);
    outline: none!important;
  }

  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::placeholder { 
    color: var(--color-text-acc-3);
    font-weight: var(--font-weight-400);
  }
}