/* Members */
.site {
  min-height: 100vh;

  &__cover {    
    display: none;
    flex-basis: 40%;
    height: 100vh;
    background-color: var(--color-bg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: 0;
      overflow: hidden;
    }

    @media (--mq-md) {
      display: block;
    }

    &+.site__inner {
      flex: 1;
    }
  }

  &__inner {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  &__brand {
    position: absolute;
    left: var(--gap);
    top: var(--gap);
    font-size: 1.4rem;
    font-weight: var(--font-weight-600);
    line-height: 1;

    img { height: 25px; }

    @mixin attention {
      color: var(--color-primary);
    }
  }

  &__content {
    padding: var(--gap);
    background-color: var(--color-bg);
    border-radius: var(--global-radius); 
    max-width: 24rem;
    margin: 0 auto;

    @media (--mq-md) {
      padding: var(--gap-lg);
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: var(--font-weight-600);
    text-align: center;
  }

  p {
    color: var(--color-text-acc-3);
    max-width: 20rem;

    a { 
      color: var(--color-text-acc-1);
      text-decoration: underline;
    }
  }
}

.checkout {
  border-radius: var(--global-radius);

  &__title {
    font-size: 1.2rem;
  }

  &-plan {
    background-color: var(--color-bg);
    border-radius: var(--global-radius);
    padding: var(--gap) 0;

    &__title,
    &__price,
    &__content {
      text-align: center;
    }

    &__price {
      margin-bottom: var(--gap);
      color: var(--color-secondary);

      sup {
        top: -0.75em;
        font-size: 1rem;
        font-weight: var(--font-weight-500);
      }

      strong {
        font-size: 2.2rem;
        font-weight: var(--font-weight-600);
      }

      span {
        text-transform: uppercase;
        font-weight: var(--font-weight-500);
      }
    }

    li {
      margin-bottom: var(--gap-xs);
    }
  }
}

.subscriber-box {
  background-color: var(--color-bg);
  padding: var(--gap-lg);
  border-radius: var(--global-radius);

  &__main {
    flex-direction: column;

    @media (--mq-md) {
      flex-direction: row;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (--mq-md) {
      flex-direction: row;
    }
  }

  img {
    border: 3px solid var(--color-border)!important;
  }
}

.subscriber-detail {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap);

  @media (--mq-md) {
    margin-right: var(--gap-lg);

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-label {
    text-transform: uppercase;
    font-weight: var(--font-weight-700);
    font-size: 0.8rem;
  }
}

.subscriber__edit {
  a { 
    margin-bottom: var(--gap);

    @media (--mq-sm) {
      margin-bottom: 0;
      margin-right: var(--gap);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .gh-error.gh-error-subscription-cancel {
    display: block;
    margin-top: var(--gap);
    color: var(--color-error);
    font-weight: var(--font-weight-500);

    &:empty {
      margin-top: 0;
    }
  }
}