.welcome {
  background-color: var(--color-primary);
  border-radius: var(--global-radius);
  color: var(--color-light);
  min-height: 200px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: var(--gap);

  @media (--mq-sm) {
    padding: 1.5em;
  }

  @media (--mq-md) {
    flex-direction: row;
    padding: var(--gap-lg);
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: var(--gap-sm);
    max-width: 32em;

    @media (--mq-md) {
      font-size: 1.8rem;
    }
  }

  &__profile {
    position: relative;
    margin: 0;
    margin-bottom: var(--gap);
    border-radius: var(--global-radius-round);
    overflow: hidden;

    @media (--mq-md) {
      margin-bottom: 0;
      margin-right: var(--gap-lg);
    }
  
    img {
      display: block;
      width: 120px;
      height: 120px;    
      object-fit: cover;
      object-position: center center;
      background-color: rgba(255,255,255,0.25);
      border: 3px solid hsla(0,0%,100%,.25);
      border-radius: inherit;
      z-index: 2;
      position: relative;
      transition: all var(--trans-default);
    }

    span {
      position: absolute;
      text-transform: uppercase;
      font-size: 4.6rem;
    }
  }

  a.welcome__profile {
    @mixin attention {
      img {
        border-color: transparent;
      }
    }
  }

  &__content {
    z-index: 10;
    text-align: center;

    @media (--mq-md) {
      text-align: left;
    }
  }

  &.has-bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, var(--color-primary), rgba(0,0,0,0.25));

    @media (--mq-md) {
      background: linear-gradient(to right, var(--color-primary), rgba(0,0,0,0.25));
    }
  }

  &__media {
    position: absolute;
    width: 100%;     
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;

    img { 
      width: 100%;     
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    margin-bottom: var(--gap);
    max-width: 32em;

    @media (--mq-md) {
      margin-bottom: 1.5em;
      font-size: 1.1rem;
    }
  }

  &__figures {
    display: grid;
    grid-gap: var(--gap);
    z-index: 10;
    grid-template-columns: repeat(2, 1fr);    
    margin-top: var(--gap-lg);
    flex: 1;

    @media (--mq-sm) {
      grid-template-columns: repeat(4, 1fr);    
    }

    @media (--mq-md) {
      margin-top: 0;
      margin-left: var(--gap);
      max-width: 22rem;
      grid-template-columns: repeat(2, 1fr);    
    }
  }

  &__stat {
    padding: 1.5em var(--gap);
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: var(--global-radius);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__count {
    font-size: 1.6rem;
    font-weight: var(--font-weight-700);
    color: var(--color-white);
    text-align: center;
    line-height: 1;

    @media (--mq-md) {
      font-size: 2rem;
    }

    &-descr {
      font-size: 0.9rem;
      color: var(--color-white);
      font-weight: var(--font-weight-500);
      text-align: center;
    }
  }
}